{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Verification</title>

    <script src="https://cdn.tailwindcss.com"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa;
            padding: 40px 0;
            background-image: url("{% static 'sl_031420_28950_10.jpg' %}");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            min-height: 100vh;
          }
    </style>
</head>
<body class="bg-gray-100">
    {% include "message.html" %}

    <br><br><br><br><br><br>
    <div class="container mx-auto p-4">
        <div class="w-full max-w-md mx-auto bg-white rounded-lg shadow-lg p-6">
            <h2 class="text-2xl font-bold text-gray-800 mb-6 text-center">Password Verification</h2>
            <form method="POST" class="space-y-4">
                {% csrf_token %}
                <div>
                    <label for="password" class="block text-sm font-medium text-gray-700">Enter your password</label>
                    <input type="password" name="password" id="password" placeholder="Enter your password"
                        required class="mt-2 w-full px-4 py-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500 focus:border-transparent">
                </div>
                <div>
                    <button type="submit" class="btn btn-primary w-full py-2 px-6 rounded-md shadow-md">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
</body>

</html>
